extends layout

block content
  h1= title

  p
    a(href='/catalog/author/create') Create new author

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
    
    else
      li There are no authors.